<!DOCTYPE html>
<html>
<head>
	<title>Vue Data Bindin</title>
	
</head>
<body>

	<div id="root">	
		<!-- <input type="text" id="input" v-model="message"> -->

		<p>	The value of the input is: {{names}}</p>
		<ul>	
			<li v-for="value, index in names"> Index: {{ index }} & value: {{ value }}	</li>
		</ul>

		<ul>	
			<li v-for="value, index in names" v-text="value">
		</ul>

		<input type="text" class="text" v-model="newName">
		<!-- <input id="button" value="Add Name" type="button" v-on:click="addName"> -->
		<input id="button" value="Add Name" type="button" @click="addName">
	</div>
	

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#root',
			data: {
				newName : '',
			     names: ["Hello","World"]
			},
			methods:{
				addName(){
					this.names.push(this.newName)
					this.newName = '';
				}
			},
			/*mounted(){
				document.querySelector('#button').addEventListener('click',() => {
					let name = document.querySelector(".text");
					app.names.push(name.value)
					name.value = ''
				})
			}*/

		})


		/*document.querySelector('#button').addEventListener('click',() => {
			let name = document.querySelector(".text");
			app.names.push(name.value)
			name.value = ''
		})*/

	</script>
</body>
</html>